{% extends "filetags/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_js %}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script src="{{ STATIC_URL }}filetags/js/csrf.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/jquery.autocomplete.min.js"></script>
    <script>var SEARCH_TAG = "{% url filetags-search-tag %}"</script>
    <script src="{{ STATIC_URL }}filetags/js/search_tag.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/validate.js"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}filetags/css/jquery.autocomplete.css" />
{% endblock %}

{% block title %}{% if form.instance.id %}{% trans 'Edit file' %}{% else %}{% trans 'Add new file' %}{% endif %}{% endblock %}

{% block content %}
    <div class="span12">
	    {% if form.non_field_errors %}
	        <div class="alert alert-error">
	            <a class="close" data-dismiss="alert">×</a>
	            <h4 class="alert-heading">{% trans "Error" %}!</h4>
	            {% for error in form.non_field_errors %}{{ error }}{% endfor %}
	        </div>
	    {% endif %}
	    <form method="post" enctype="multipart/form-data" class="form-horizontal well"{% if query_string %} action="{{ query_string }}"{% endif %}>
	        <fieldset>
	            <legend>{% trans "Add new file" %}</legend>
	            {% csrf_token %}
	            {% for f in form %}
	                <div class="control-group {% if f.errors %}error{% endif %}">
	                    <label for="id_{{ f.html_name }}" class="control-label">{{ f.label }}</label>
	                    <div class="controls">
	                        {{ f|add_class:"span8" }}
	                        {% if f.errors %}<p class="help-block">{% for error in f.errors %}{{ error }}{% endfor %}</p>{% endif %}
	                    </div>
	                </div>
	            {% endfor %}
	            <div class="form-actions">
	                <input class="btn btn-primary" type="submit" value="{% if form.instance.id %}{% trans 'Edit' %}{% else %}{% trans 'Add' %}{% endif %}" />
	            </div>
	        </fieldset>
	    </form>
	</div>
{% endblock %}