{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>FileTags - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="FileTags - file manager" />
        <meta name="author" content="Przemysław 'eshlox' Kołodziejczyk" />
        <link rel="stylesheet" href="{{ STATIC_URL }}filetags/css/bootstrap.min.css" />
        <style type="text/css">body{padding-top:20px;}</style>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
					<div class="navbar">
					   <div class="navbar-inner">
					       <div class="container">
					           {% if file %}
					               <ul class="nav">
					                   <li><a href="javascript: history.go(-1)"><i class="icon-backward icon-white"></i> {% trans 'Back' %}</a></li>
					               </ul>
					           {% endif %}
					           <ul class="nav pull-right">
					               {% if perms.filetags.add_files %}
					                   <li><a href="{% url filetags-add-file %}{{ query_string }}"><i class="icon-plus icon-white"></i> {% trans 'Add file' %}</a></li>
					                   <li class="divider-vertical"></li>
					               {% endif %}
					               <li><a href="{% url filetags-index %}{{ query_string }}"><i class="icon-search icon-white"></i> {% trans 'Search files' %}</a></li>
					           </ul>
					       </div>
					   </div>
					</div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <script src="{{ STATIC_URL }}filetags/js/jquery.js"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>