{% extends "filetags/base.html" %}
{% load i18n %}
{% load isimage %}

{% block title %}{% trans 'Delete file' %}{% endblock %}

{% block content %}
    <div class="span12">
        {% if file %}
            <div class="thumbnail">
                <div class="caption">
                    <h5>{% trans 'Alert' %}</h5>
                    <p>{% trans 'Are you sure you want to delete this file?' %}</p>
                    {% if file.mimetype.name|isimage %}
                        <img src="{{ file.thumb }}" alt="{{ file.title }}" />
                    {% else %}
                        <a href="{{ file.file.url }}" title="{{ file.title }}">{{ file.title }}</a>
                    {% endif %}
                    <p>
		    <form action="{% url filetags-delete-file file.id %}{{ query_string }}" method="post">
			    {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="{% trans 'Yes' %}" />
                            <a class="btn" href="{% url filetags-show-file file.id %}{{ query_string }}">{% trans 'No' %}</a>
                        </form>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">
                <h4 class="alert-heading">{% trans 'Error' %}</h4>
                {% trans "File doesn't exists."  %}
            </div>
        {% endif %}
    </div>
{% endblock %}
