{% extends "filetags/base.html" %}
{% load i18n %}
{% load isimage %}
{% load size %}
{% load tags %}
{% load thumbnail %}

{% block title %}{% trans 'Show file' %}{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}filetags/js/jquery.zclip.min.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/file.js"></script>
    <script type="text/javascript">var STATIC_URL = "{{ STATIC_URL }}"</script>
{% endblock %}

{% block extra_css %}
    <style type="text/css">p.center{text-align:center;}</style>
{% endblock %}

{% block content %}
    <div class="span12">
        {% if file %}
	        <div class="well">
		        {% if file.mimetype.name|isimage %}
		            <table class="table table-bordered">
		                <tr><th>{% trans 'Title' %}</th><td>{{ file.title }}</td></tr>
		                <tr><th>{% trans 'Comment '%}</th><td>{{ file.comment }}</td></tr>
		                <tr><th>{% trans 'Tags' %}</th><td>{{ file.tags|tags }}</td></tr>
		                <tr><th>{% trans 'Type' %}</th><td>{{ file.mimetype.name }}</td></tr>
		                {% if perms.filetags.change_files or perms.filetags.delete_files %}
		                    <tr>
		                        <th>{% trans 'Actions' %}</th>
		                        <td>
		                            {% if perms.filetags.change_files %}<a class="btn btn-primary" href="{% url filetags-edit-file file.id %}{{ query_string }}">{% trans 'Edit' %}</a>{% endif %}
		                            {% if perms.filetags.delete_files %}<a class="btn btn-danger" href="{% url filetags-delete-file file.id %}{{ query_string }}">{% trans 'Delete' %}</a>{% endif %}
		                        </td>
		                    </tr>
		                {% endif %}
		            </table>
		            <ul class="thumbnails">
		                <li>
		                    <div class="thumbnail">
		                        <img src="{{ MEDIA_URL }}{{ file.file }}" alt="{{ file.comment }}" />
		                        <p class="center">{% trans 'Size:' %} {{ file.file.size|filesizeformat }}, {% trans 'Dimensions:' %} {{ file.file.path|size }}px</p>
		                        <p class="center"><a class="btn download" href="{{ MEDIA_URL }}{{ file.file }}">{% trans 'Download' %}</a> <a class="btn copy" href="{{ MEDIA_URL }}{{ file.file }}">{% trans 'Copy link' %}</a>{% if query_string %} <a class="btn" href="#" onclick="OpenFile(ProtectPath('{{ MEDIA_URL }}{{ file.file }}'));return false;">{% trans 'Select' %}</a>{% endif %}</p>
		                    </div>
		                </li>
		            </ul>
		            {% for size in image_sizes|check_size:file.file %}
		                {% thumbnail file.file size as im %}
		                    <ul class="thumbnails">
		                        <li>
		                            <div class="thumbnail">
		                                <img src="{{ im.url }}" alt="{{ file.comment }}" /></p>
		                                <p class="center"><a class="btn download" href="{{ im.url }}">{% trans 'Download' %}</a> <a class="btn copy" href="{{ im.url }}">{% trans 'Copy link' %}</a>{% if query_string %} <a class="btn" href="#" onclick="OpenFile(ProtectPath('{{ im.url }}'));return false;">{% trans 'Select' %}</a>{% endif %}</p>
		                            </div>
		                        </li>
		                    </ul>
	                    {% endthumbnail %}
		            {% endfor %}
			    {% else %}
	                <table class="table table-bordered">
	                    <tr><th>{% trans 'Title' %}</th><td>{{ file.title }}</td></tr>
	                    <tr><th>{% trans 'Comment '%}</th><td>{{ file.comment }}</td></tr>
	                    <tr><th>{% trans 'Tags' %}</th><td>{{ file.tags|tags }}</td></tr>
	                    <tr><th>{% trans 'Type' %}</th><td>{{ file.mimetype.name }}</td></tr>
	                    <tr><th>{% trans 'File' %}</th><td><a class="btn download" href="{{ MEDIA_URL }}{{ file.file }}">{% trans 'Download' %}</a> <a class="btn copy" href="{{ MEDIA_URL }}{{ file.file }}">{% trans 'Copy link' %}</a>{% if query_string %} <a class="btn" href="#" onclick="OpenFile(ProtectPath('{{ MEDIA_URL }}{{ file.file }}'));return false;">{% trans 'Select' %}</a>{% endif %}</td></tr>
	                    {% if perms.filetags.change_files or perms.filetags.delete_files %}
	                        <tr>
	                            <th>{% trans 'Actions' %}</th>
	                            <td>
	                                {% if perms.filetags.change_files %}<a class="btn btn-primary" href="{% url filetags-edit-file file.id %}{{ query_string }}">{% trans 'Edit' %}</a>{% endif %}
	                                {% if perms.filetags.delete_files %}<a class="btn btn-danger" href="{% url filetags-delete-file file.id %}{{ query_string }}">{% trans 'Delete' %}</a>{% endif %}
	                            </td>
	                        </tr>
	                    {% endif %}
	                </table>
			    {% endif %}
	        </div>
	    {% else %}
            <div class="alert alert-info">
                <h4 class="alert-heading">{% trans 'Error' %}</h4>
                {% trans "File doesn't exists."  %}
            </div>
	    {% endif %}
    </div>
{% endblock %}