{% extends "filetags/base.html" %}
{% load i18n %}
{% load types %}

{% block title %}{% trans 'Search files' %}{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript">
        var MEDIA_URL = '{{ MEDIA_URL }}';
        var QUERY_STRING = '{{ query_string }}'
        var IMAGES_DIR = 'static/images/';
        var THUMB_DIR = 'static/images/thumb/';
        var SEARCH = "{% url filetags-search-files %}";
    </script>
    <script src="{{ STATIC_URL }}filetags/js/csrf.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/bindWithDelay.js"></script>
    <script src="{{ STATIC_URL }}filetags/js/filetags.js"></script>
{% endblock %}

{% block content %}
    <div class="span12">
        <div class="well form-inline">
            <div class="input-append">
	            <input placeholder="{% trans 'Enter tags separated by commas.' %}" type="text" name="tags" class="input-xxlarge" id="appendedInput" />
	            <button class="btn" type="button" id="reset">{% trans 'Clear' %}</button>
	        </div>
	        <select name="type">{% types %}</select>
        </div>
        <ul class="pager well">
            <li class="previous disabled">
                <a href="#">&larr; {% trans 'Previous' %}</a>
            </li>
            <li class="page"></li>
            <li class="next disabled">
                <a href="#">{% trans 'Next' %} &rarr;</a>
            </li>
        </ul>
        <table class="table table-striped well">
            <thead>
                <tr>
                    <th>{% trans 'File' %}</th>
                    <th>{% trans 'Comment' %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <ul class="pager well">
            <li class="previous disabled">
                <a href="#">&larr; {% trans 'Previous' %}</a>
            </li>
            <li class="page"></li>
            <li class="next disabled">
                <a href="#">{% trans 'Next' %} &rarr;</a>
            </li>
        </ul>
    </div>
{% endblock %}